# .env template — fill in on target machine
TEKTELIC_GW_USER=root
TEKTELIC_GW_PASS=
TEKTELIC_NS_EU_URL=https://lorawan-ns-eu.tektelic.com
TEKTELIC_NS_USER=
TEKTELIC_NS_PASS=
TEKTELIC_CUSTOMER_ID=
TEKTELIC_FTP_USER=customer
TEKTELIC_FTP_PASS=vU6_ATR3
